<h1>New Physician</h1>

<%= form_for @physician do |form| %> 
	<div>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</div><br>

	<div>
		<%= form.label :email %><br>
		<%= form.text_area :email %>
	</div><br>

	<%= form.submit %>

<% end %>