<h1>New Account</h1>

<%= form_for @account do |form| %> 
	<div>
		<%= form.label :body %><br>
		<%= form.text_field :body %>
	</div><br>

	<div>
		<%= form.label :supplier_id %><br>
		<%= form.number_field :supplier_id %>
	</div><br>

	<%= form.submit %>

<% end %>